@using WebApplication4.Models.helper;
@model RoleManagerBug
@{
    ViewBag.Title = "UserRolePage";
}
<h3>Search for Users</h3>
<form action="@Url.Action("UserRolePage")" method="get" class="formalign">
    <div class="row">
        <div class="col-xs-2">
            First Name: 
        </div>
        <div class="col-xs-2">
            <input type="text" id="FirstName" name="FirstName" />
        </div>
        <div class="col-xs-2">
            Last Name: 
        </div>
        <div class="col-xs-2">
            <input type="text" id="LastName" name="LastName" />
        </div>
        <div class="col-xs-1">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
</form>
<br />
    @if (Model.master == null)
    {
    }
    else
    {
        if (Model.master.Count > 0)
        {
            @:<h3>Search Results</h3>
            @:<hr class="hrcolor" />
            foreach (var user in Model.master)
            {
                @:<form action="@Url.Action("UserRolePage")" method="get" class="formalign">
                    @:<div class="row">
                        @:<div class="col-xs-1">
                            @:Name:
                        @:</div>
                        @:<div class="col-xs-4">
                            @Html.Raw(user.FirstName + " " + user.LastName)
                        @:</div>
                        @:<div class="col-xs-1">
                            @:UserName:
                        @:</div>
                        @:<div class="col-xs-4">
                            @Html.Raw(user.UserName)
                        @:</div>
                        @:<div class="col-xs-2">
                            @:<input name="id" value="@user.Id" hidden />
                            @:<button type="submit" class="btn btn-primary">Select User</button>
                        @:</div>
                    @:</div>
                @:</form>
            }
        }
        else
        {
            @:No users to display
        }
    }
    @if (Model.RoleIn == null)
    {
    }
    else
    {
        @:<h3>Assign Roles for User</h3>
        @:<hr class="hrcolor" />
        @:<form action="@Url.Action("UserRolePage")" method="post" class="formalign">
            @Html.AntiForgeryToken()
            @:<h4>@Html.Raw(Model.RoleIn.User.UserName)</h4>
            @:<input name="id" value="@Model.RoleIn.User.Id" hidden />
            @:<input name="Username" value="@Model.RoleIn.User.UserName" hidden />
            @:@Html.ListBoxFor(x => x.RoleIn.Roles, Model.RoleIn.RoleInput, new { Name = "Roles" })<br /><br />
            @:<button type="submit" class="btn btn-primary">Change User Roles</button>
        @:</form>
    }
    @if (Model.response == null)
    {
    }
    else
    {
        @:<h3>Actions Performed</h3>
        @:<hr class="hrcolor" />
        string[] parse = Model.response.Split('&');
        foreach(var resp in parse)
        {
            @:@Html.Raw(resp)<br />
        }
    }
