@model WebApplication4.Models.helper.UserRoleAssignment
@{
    ViewBag.Title = "UserRolePageSub";
}

<form action="@Url.Action("UserRolePageSub")" method="post" class="formalign">
    @Html.AntiForgeryToken()
    <h4>@Html.DisplayFor(x => x.User.UserName)</h4><br />
    @Html.ListBoxFor(x => x.Roles, Model.RoleInput, new { Name = "Roles" } )<br /><br />
    <button type="submit" class="btn btn-primary">Modify Users</button>
</form>

<a href="@Url.Action("UserRolePage", "Account")" class="btn btn-primary">Back to List</a>
@if(Model.response != null)
{ 
    foreach(var item in Model.response)
    {
        @:@item
    }
}