@model WebApplication4.Models.helper.UserRoleAssignment
@{
    ViewBag.Title = "UserRolePage";
    var title = Model.master.FirstOrDefault();
}
<h3>Search for Users</h3>
    <table id="table1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => title.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(x => title.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(x => title.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(x => title.Roles)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        @if (Model != null)
        {
            foreach(var user in Model.master)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => user.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(x => user.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(x => user.UserName)
                    </td>
                    <td>
                        @{
                            var roles = Model.helper.ListUserRoles(user.Id);
                            foreach(var item in roles)
                            {
                                @:@item<br />
                            }
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("UserRolePageSub", "Account", new { id = user.Id })">Modify Roles</a>
                    </td>
                </tr>
            }
        }
    </table>
    
    @section scripts{
    <script>
        $(document).ready(function () {
            $("#table1").DataTable();
        })
    </script>
    }