@using WebApplication4.Models.helper;
@model RoleManagerBug
@{
    ViewBag.Title = "UserRolePage";
}

<h2>UserRolePage</h2>

            Search for User:
<form action="@Url.Action("UserRolePage")" method="get" class="formalign">
    First Name: <input type="text" id="FirstName" name="FirstName" />
    Last Name: <input type="text" id="LastName" name="LastName" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<br />
    @if (Model.master == null)
    {
    }
    else
    {
        if (Model.master.Count > 0)
        {
            foreach (var user in Model.master)
            {
                @:<form action="@Url.Action("UserRolePage")" method="get" class="formalign">
                    @:First Name: @Html.Raw(user.FirstName) Last Name: @Html.Raw(user.LastName) Email: @Html.Raw(user.Email)
                    @:<input name="id" value="@user.Id" hidden />
                    @:<button type="submit">Select User</button>
                @:</form>
            }
        }
        else
        {
            @:No users to display
        }
    }
    @if (Model.RoleIn == null)
    {
        
    }
    else
    {
        @:<form action="@Url.Action("UserRolePage")" method="post" class="formalign">
            @Html.AntiForgeryToken()
            @:Assign Roles to User:<br />
            @:@Model.RoleIn.User.FirstName
            @:@Model.RoleIn.User.LastName
            @:<input name="id" value="@Model.RoleIn.User.Id" hidden />
            @:@Html.ListBoxFor(x => x.RoleIn.Roles, Model.RoleIn.RoleInput, new { Name = "Roles" })
            @:<button type="submit">Change User Roles</button>
        @:</form>
    }
