@model WebApplication4.Models.helper.TicketIn

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ticket</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.master.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.master.Title, new { htmlAttributes = new { @class = "form-control", Name = "Title" } })
                @Html.ValidationMessageFor(model => model.master.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.master.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.master.Description, new { htmlAttributes = new { @class = "form-control", Name = "Description" } })
                @Html.ValidationMessageFor(model => model.master.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.DropDownListFor(x => x.lists.Status, Model.lists.StatusInput, new { Name = "Status" })
        @Html.DropDownListFor(x => x.lists.Priority, Model.lists.PriorityInput, new { Name = "Priority" })
        @Html.DropDownListFor(x => x.lists.Type, Model.lists.TypeInput, new { Name = "Type" })
        @Html.DropDownListFor(x => x.lists.Project, Model.lists.ProjectInput, new { Name = "Project" })


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
