@using WebApplication4.Models
@model WebApplication4.Models.helper.TicketDetails

@{
    ViewBag.Title = "Details";
    IList<string> attachments = new List<string>();
    IList<TicketComments> commentlist = new List<TicketComments>();
}
@foreach (var item in Model.ticketdetails.TicketComments)
{
    if(item.AttachURL != null)
    {
        attachments.Add(item.AttachURL);
    }
    commentlist.Add(item);
}
<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Assigned
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticketdetails.Assigned.UserName)
        </dd>

        <dt>
            Owner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticketdetails.Owner.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ticketdetails.Project.Project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticketdetails.Project.Project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ticketdetails.TicketPriority.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticketdetails.TicketPriority.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ticketdetails.TicketStatus.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticketdetails.TicketStatus.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ticketdetails.TicketType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticketdetails.TicketType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ticketdetails.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticketdetails.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ticketdetails.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticketdetails.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ticketdetails.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticketdetails.Created)
        </dd>

    </dl>
</div>
<div>Attachments</div>
<div class="attachments">
    @foreach (var item in attachments)
    {
        var filename = item.Split('/');
        <a href="@item" target="_blank">@filename.Last()</a><br />
    }
</div>
<p>
    @if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager") && Model.accessin.isinproject) ||
                                (User.IsInRole("Developer") && Model.accessin.assignconfirmed) || 
                                (User.IsInRole("Submitter") && Model.accessin.ownerconfirmed))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ticketdetails.Id }) @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    @if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager") && Model.accessin.isinproject) ||
                                (User.IsInRole("Developer") && Model.accessin.assignconfirmed) ||
                                (User.IsInRole("Submitter") && Model.accessin.ownerconfirmed))
    {
        <form action="@Url.Action("Details", "Tickets", new { id = Model.ticketdetails.Id })" method="post" class="formalign" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <textarea name="Comment" id="Comment" rows="3" cols="80"></textarea><br />
            <input name="AttachURLin" type="file" class="form-control" id="fileUpload" /><br />
            <button type="submit" class="btn btn-primary">Submit Comment</button>
        </form>
    }
</div>
<div>
    @foreach(var item in commentlist)
    {
        <br />
        <p>
        User: @item.CommentUser.FirstName @item.CommentUser.LastName<br />
        @item.Comment
        </p>
    }
</div>
