@using WebApplication4.Models
@model WebApplication4.Models.helper.TicketDetails

@{
    ViewBag.Title = "Details";
    IList<string> attachments = new List<string>();
    IList<TicketComments> commentlist = new List<TicketComments>();
}
@foreach (var item in Model.ticketdetails.TicketComments)
{
    if(item.AttachURL != null)
    {
        attachments.Add(item.AttachURL);
    }
    commentlist.Add(item);
}
<body class="scroll">
<h2>Ticket #@Model.ticketdetails.Id</h2>
<hr />
<div class="row">
    <div class="col-xs-9">
        <div class="row marginb">
            <div class="col-xs-2">
                <b>
                    @Html.DisplayNameFor(model => model.ticketdetails.Title)
                </b>
            </div>
            <div class="col-xs-4">
                @Html.DisplayFor(model => model.ticketdetails.Title)
            </div>
            <div class="col-xs-2">
                <b>
                    @Html.DisplayNameFor(model => model.ticketdetails.Created)
                </b>
            </div>

            <div class="col-xs-4">
                @Html.DisplayFor(model => model.ticketdetails.Created)
            </div>
        </div>
        <div class="row marginb">
            <div class="col-xs-2">
                <b>
                    Assigned
                </b>
            </div>
            <div class="col-xs-4">
                @Html.DisplayFor(model => model.ticketdetails.Assigned.UserName)
            </div>
            <div class="col-xs-2">
                <b>
                    Owner
                </b>
            </div>
            <div class="col-xs-4">
                @Html.DisplayFor(model => model.ticketdetails.Owner.UserName)
            </div>
        </div>
        <div class="row marginb">
            <div class="col-xs-2">
                <b>
                    @Html.DisplayNameFor(model => model.ticketdetails.TicketPriority.Priority)
                </b>
            </div>
            <div class="col-xs-4">
                <b class="@Model.ticketdetails.TicketPriority.Priority">
                    @Html.DisplayFor(model => model.ticketdetails.TicketPriority.Priority)
                </b>
            </div>
        </div>
        <div class="row marginb">
            <div class="col-xs-2">
                <b>
                    @Html.DisplayNameFor(model => model.ticketdetails.Project.Project)
                </b>
            </div>
            <div class="col-xs-4">
                @Html.DisplayFor(model => model.ticketdetails.Project.Project)
            </div>
        </div>

        <div class="row marginb">
            <div class="col-xs-2">
                <b>
                    @Html.DisplayNameFor(model => model.ticketdetails.TicketStatus.Status)
                </b>
            </div>
            <div class="col-xs-4">
                @Html.DisplayFor(model => model.ticketdetails.TicketStatus.Status)
            </div>
            <div class="col-xs-2">
                <b>
                    @Html.DisplayNameFor(model => model.ticketdetails.TicketType.Type)
                </b>
            </div>
            <div class="col-xs-4">
                @Html.DisplayFor(model => model.ticketdetails.TicketType.Type)
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <h4>Attachments</h4>
        <div class="attachments">
            @foreach (var item in attachments)
            {
                var filename = item.Split('/');
                <a href="@item" target="_blank">@filename.Last()</a><br />
            }
        </div>
    </div>
</div>
<div class="row">

    <div class="col-xs-12">
        <ul class="nav nav-stacked">
            <li class="nav-header">
                <h4><a href="#" onclick="return false" data-toggle="collapse" data-target="#userMenu2" class="nolink inheritcolor">@Html.DisplayNameFor(model => model.ticketdetails.Description) <i class="glyphicon glyphicon-chevron-right"></i></a></h4>
                <ul class="nav nav-stacked collapse" id="userMenu2">
                    <li>
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.DisplayFor(model => model.ticketdetails.Description)
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    @if (Model.historyin != null)
    {
        <div class="col-xs-12">
        <ul class="nav nav-stacked">
            <li class="nav-header">
                <h4><a href="#" onclick="return false" data-toggle="collapse" data-target="#userMenu1" class="nolink inheritcolor">History <i class="glyphicon glyphicon-chevron-right"></i></a></h4>
                <ul class="nav nav-stacked collapse" id="userMenu1">
                    <li>
                        @foreach (var item in Model.historyin)
                        {
                            <div class="row">
                                <div class="col-xs-12">
                                    @item.TicketFieldName changed on @item.Changed by @item.HistoryUser.UserName<br />
                                    Old value: @item.OldValue<br />
                                    New value: @item.NewValue<br />
                                </div>
                            </div>
                        }
                    </li>
                </ul>
            </li>
        </ul>
        </div>
    }
</div>
<br />
<p>
    @if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager") && Model.accessin.isinproject) ||
                                (User.IsInRole("Developer") && Model.accessin.assignconfirmed) || 
                                (User.IsInRole("Submitter") && Model.accessin.ownerconfirmed))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ticketdetails.Id }) @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p><br />

<b>Add a comment</b>
<div class="row">
    <div class="col-xs-6">
    @if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager") && Model.accessin.isinproject) ||
                                (User.IsInRole("Developer") && Model.accessin.assignconfirmed) ||
                                (User.IsInRole("Submitter") && Model.accessin.ownerconfirmed))
    {
        <form action="@Url.Action("Details", "Tickets", new { id = Model.ticketdetails.Id })" method="post" class="formalign" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <textarea name="Comment" id="Comment" rows="3" cols="80" required></textarea><br />
            <input name="AttachURLin" type="file" class="form-control" id="fileUpload" /><br />
            <button type="submit" class="btn btn-primary">Submit Comment</button>
        </form>
    }
    </div>
</div>
    <div>
        <div class="col-xs-12">
            <ul class="nav nav-stacked">
                <li class="nav-header">
                    <h4><a href="#" onclick="return false" data-toggle="collapse" data-target="#userMenu3" class="nolink inheritcolor">Comments <i class="glyphicon glyphicon-chevron-right"></i></a></h4>
                    <ul class="nav nav-stacked collapse" id="userMenu3">
                        <li>
                            <div class="row">
                                <div class="col-xs-12">
                                    @foreach (var item in commentlist)
                                    {
                                        <p>
                                            User: @item.CommentUser.UserName<br />
                                            @item.Comment
                                        </p><br />
                                    }
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>