@using WebApplication4.Models
@model WebApplication4.Models.helper.TicketDetails

@{
    ViewBag.Title = "Details";
    IList<string> attachments = new List<string>();
    IList<TicketComments> commentlist = new List<TicketComments>();
}
@foreach (var item in Model.ticketdetails.TicketComments)
{
    if(item.AttachURL != null)
    {
        attachments.Add(item.AttachURL);
    }
    commentlist.Add(item);
}
<h2>Details</h2>

<h4>Ticket #@Model.ticketdetails.Id</h4>
<hr />
<div class="row">
    <div class="col-xs-9">
        <div class="row">
            <div class="col-xs-2">
                @Html.DisplayNameFor(model => model.ticketdetails.Title)
            </div>
            <div class="col-xs-4">
                @Html.DisplayFor(model => model.ticketdetails.Title)
            </div>
            <div class="col-xs-2">
                @Html.DisplayNameFor(model => model.ticketdetails.Created)
            </div>

            <div class="col-xs-4">
                @Html.DisplayFor(model => model.ticketdetails.Created)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                Assigned
            </div>
            <div class="col-xs-4">
                @Html.DisplayFor(model => model.ticketdetails.Assigned.UserName)
            </div>
            <div class="col-xs-2">
                Owner
            </div>
            <div class="col-xs-4">
                @Html.DisplayFor(model => model.ticketdetails.Owner.UserName)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                @Html.DisplayNameFor(model => model.ticketdetails.TicketPriority.Priority)
            </div>
            <div class="col-xs-4">
                <b class="@Model.ticketdetails.TicketPriority.Priority">
                    @Html.DisplayFor(model => model.ticketdetails.TicketPriority.Priority)
                </b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                @Html.DisplayNameFor(model => model.ticketdetails.Project.Project)
            </div>
            <div class="col-xs-4">
                @Html.DisplayFor(model => model.ticketdetails.Project.Project)
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                @Html.DisplayNameFor(model => model.ticketdetails.TicketStatus.Status)
            </div>
            <div class="col-xs-4">
                @Html.DisplayFor(model => model.ticketdetails.TicketStatus.Status)
            </div>
            <div class="col-xs-2">
                @Html.DisplayNameFor(model => model.ticketdetails.TicketType.Type)
            </div>
            <div class="col-xs-4">
                @Html.DisplayFor(model => model.ticketdetails.TicketType.Type)
            </div>
        </div><br />
        <div class="row">
            <div class="col-xs-12">
                @Html.DisplayNameFor(model => model.ticketdetails.Description)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.DisplayFor(model => model.ticketdetails.Description)
            </div>
        </div>
    </div>
    <div class="cols-xs-3">
        <h4>Attachments</h4>
        <div class="attachments">
            @foreach (var item in attachments)
            {
                var filename = item.Split('/');
                <a href="@item" target="_blank">@filename.Last()</a><br />
            }
        </div>
    </div>
</div>
<div class="row">
    @if (Model.historyin != null)
    {
        <div class="col-xs-12">
        <h4>History</h4>
            <form action="@Url.Action("Revert", "Tickets")" method="post" class="formalign">
                @Html.AntiForgeryToken()
                <select multiple class="history">
                    @foreach (var item in Model.historyin)
                    {
                        <option value="@item.Id">
                            @item.TicketFieldName changed on @item.Changed
                            Old value: @item.OldValue
                            New value: @item.NewValue
                        </option>
                    }
                </select>
            </form>
        </div>
    }
</div>
<p>
    @if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager") && Model.accessin.isinproject) ||
                                (User.IsInRole("Developer") && Model.accessin.assignconfirmed) || 
                                (User.IsInRole("Submitter") && Model.accessin.ownerconfirmed))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ticketdetails.Id }) @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    @if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager") && Model.accessin.isinproject) ||
                                (User.IsInRole("Developer") && Model.accessin.assignconfirmed) ||
                                (User.IsInRole("Submitter") && Model.accessin.ownerconfirmed))
    {
        <form action="@Url.Action("Details", "Tickets", new { id = Model.ticketdetails.Id })" method="post" class="formalign" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <textarea name="Comment" id="Comment" rows="3" cols="80" required></textarea><br />
            <input name="AttachURLin" type="file" class="form-control" id="fileUpload" /><br />
            <button type="submit" class="btn btn-primary">Submit Comment</button>
        </form>
    }
</div>
<div>
    @foreach(var item in commentlist)
    {
        <br />
        <p>
        User: @item.CommentUser.FirstName @item.CommentUser.LastName<br />
        @item.Comment
        </p>
    }
</div>
