@using WebApplication4.Models.helper
@model WebApplication4.Models.helper.TicketIndex

@{
    ViewBag.Title = "Index";
    var title = Model.tickets.FirstOrDefault();
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="table1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => title.Title)
            </th>
            <th>
                @Html.DisplayNameFor(x => title.Created)
            </th>
            <th>
                @Html.DisplayNameFor(x => title.TicketPriority)
            </th>
            <th>
                @Html.DisplayNameFor(x => title.TicketStatus)
            </th>
            <th>
                @Html.DisplayNameFor(x => title.Assigned)
            </th>
            <th>
                @Html.DisplayNameFor(x => title.Project)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
            @foreach (var item in Model.tickets)
            {
                var checkit = Model.helper.UserisOwnerorAssignedEntry(item.Id, Model.accessin);
                if (checkit != null)
                {
                    if (User.IsInRole("Admin") || checkit.ownerconfirmed || checkit.isinproject || checkit.assignconfirmed)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.Created)
                        </td>
                        <td>
                            <b class="@item.TicketPriority.Priority">
                                @Html.DisplayFor(x => item.TicketPriority.Priority)
                            </b>
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.TicketStatus.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.Assigned.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.Project.Project)
                        </td>
                        <td>
                                <a href="@Url.Action("Details", "Tickets", new { id = item.Id })">Details</a><br />
                                @if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager") && checkit.isinproject) ||
                                (User.IsInRole("Developer") && checkit.assignconfirmed) ||
                                (User.IsInRole("Submitter") && checkit.ownerconfirmed))
                                {
                                    <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">Edit</a>
                                }
                        </td>
                    </tr>
                    }
                }
            }
</table>

@section scripts{
    <script>
    $(document).ready(function(){
        $("#table1").DataTable();})
    </script>
}