@using PagedList
@using PagedList.Mvc
@model IPagedList<WebApplication4.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="row">
        <a href="@Url.Action("Details", "Tickets", new { id = item.Id })">
            <div class="col-xs-9 ticketborder ticketbordertop boxshadowticket">
                <div class="row bgticketheader ticketbordertophdr ticketborderbtm">
                    <div class="col-xs-10">
                        <h4 class="tickerheader">@item.Title</h4>
                    </div>
                    <div class="col-xs-2">
                        <h4 class="tickerheader">Id: @item.Id</h4>
                    </div>
                </div>
                <div class="row ticketborderbtm bgticketbody">
                    <div class="col-xs-6">
                        <p class="black">Created: @item.Created</p>
                    </div>
                    <div class="col-xs-6">
                    </div>
                </div>
                <div class="row bgticketbody">
                    <div class="col-xs-12">
                        <ul class="list-inline">
                            <li class="black margintext">Priority:</li>
                            <li><b class="@item.TicketPriority.Priority">@item.TicketPriority.Priority</b></li>
                            <li class="black margintext">Status:</li>
                            <li class="black"><b>@item.TicketStatus.Status</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <br />
}
@if (Model.PageCount > 1)
{
    @:Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.search }))
}
