
@{
    ViewBag.Title = "Main";
}

<!-- Main -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <!-- Left column -->
            <a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> Tools</strong></a>
            <hr>
            <ul class="nav nav-stacked">
                <li class="nav-header">
                    <a href="#" data-toggle="collapse" data-target="#userMenu">Tickets <i class="glyphicon glyphicon-chevron-down"></i></a>
                    <ul class="nav nav-stacked collapse in" id="userMenu">
                        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
                        {
                            <li><a href="@Url.Action("Index", "Projects")"><i class="glyphicon glyphicon-user"></i>My Project List</a></li>
                        }
                        @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <li><a href="@Url.Action("Index", "Tickets")"><i class="glyphicon glyphicon-user"></i>My Ticket List</a></li>
                        }
                    </ul>
                </li>
                <li class="nav-header">
                    <a href="#" data-toggle="collapse" data-target="#menu2"> Reports <i class="glyphicon glyphicon-chevron-right"></i></a>
                    <ul class="nav nav-stacked collapse" id="menu2">
                        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
                        {
                            <li><a href="@Url.Action("Report")"><i class="glyphicon glyphicon-user"></i>My Reports</a></li>
                        }
                    </ul>
                </li>
            </ul>
            <ul class="nav nav-stacked">
                <li class="nav-header">
                    <a href="#" data-toggle="collapse" data-target="#userMenu1">Account <i class="glyphicon glyphicon-chevron-down"></i></a>
                    <ul class="nav nav-stacked collapse in" id="userMenu1">
                        @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <li><a href="@Url.Action("ChangePassword", "Manage")"><i class="glyphicon glyphicon-flag"></i> Change Password</a></li>
                        }
                        @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <li><a href="@Url.Action("ChangeUserName", "Account")"><i class="glyphicon glyphicon-user"></i> Change UserName</a></li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a href="@Url.Action("UserRolePage", "Account")"><i class="glyphicon glyphicon-exclamation-sign"></i> Roles</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /col-3 -->
        <div class="col-sm-9">
            <!-- column 2 -->
            <ul class="list-inline pull-right">
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-comment"></i><span class="count">3</span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">1. Is there a way..</a></li>
                        <li><a href="#">2. Hello, admin. I would..</a></li>
                        <li><a href="#"><strong>All messages</strong></a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
                <li><a title="Add Widget" data-toggle="modal" href="#addWidgetModal"><span class="glyphicon glyphicon-plus-sign"></span> Add Widget</a></li>
            </ul>
            <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> My Dashboard</strong></a>
            <hr>
            <div class="row">
                <!-- center left-->
                <div class="col-md-6">
                    <div class="well">Inbox Messages <span class="badge pull-right">3</span></div>
                    <hr>
                    <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-primary col-sm-3">
                            <i class="glyphicon glyphicon-plus"></i>
                            <br> Service
                        </a>
                        <a href="#" class="btn btn-primary col-sm-3">
                            <i class="glyphicon glyphicon-cloud"></i>
                            <br> Cloud
                        </a>
                        <a href="#" class="btn btn-primary col-sm-3">
                            <i class="glyphicon glyphicon-cog"></i>
                            <br> Tools
                        </a>
                        <a href="#" class="btn btn-primary col-sm-3">
                            <i class="glyphicon glyphicon-question-sign"></i>
                            <br> Help
                        </a>
                    </div>
                    <hr>
                     <!--/panel-body-->
                    </div>
                </div>
                <!--/col-span-6-->
            </div>
        </div>
        <!--/col-span-9-->
    </div>
</div>