@model IList<WebApplication4.Models.helper.ReportList>
@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Reports</h4>
    </div>
    <div class="panel-body">
        @foreach (var item in Model)
        {
            var csscolor = item.name + "b";
            <small>@item.name</small>
            <div class="progress">
                <div class="progress-bar progress-bar-success @csscolor" role="progressbar" aria-valuenow="@item.count" aria-valuemin="0" aria-valuemax="@item.total" style="width: @item.percentage%">
                </div>
            </div>
        }
    </div>
</div>
